<section class="col-12 px-5">
    <div class="card">
        <div class="card-header d-flex flex-row justify-content-between align-items-center">
            <a href="/api/profile/edit" class="text-decoration-none text-dark">
                <h3 class="m-0">This is a Title</h3>
            </a>
            <h6 class="m-0">4/26/2021</h6>
        </div>
    </div>
</section>
<div class="d-flex flex-row justify-content-center col-12 my-4">
    <a href="/api/profile/create" class="btn btn-primary col-2">
        Create New Post
    </a>
</div>