<section class="col-12 px-5">
    <div class="card">
        <div class="card-header d-flex flex-row justify-content-between align-items-center">
            <h3>This is a title</h3>
            <h6>Posted by Eniqma on 4/26/2021</h6>
        </div>
        <div class="card-body">
            <h6>Hello this is a description</h6>
        </div>
    </div>
</section>